<div
  [style.height]="height"
  [style.width]="width"
  class="carousel-container"
  #carouselContainer
>
  
  <div class="carousel-items-container">
    <!--carousel item container-->
    <ng-container
      #itemContainer
      [ngTemplateOutlet]="customCarouselTemplate || defaultCarousel"
      [ngTemplateOutletContext]="{ $implicit: this.items[this.index] }"
    >
    </ng-container>
    <!--carousel navigation buttons container-->
    <ng-container
      #navigationContainer
      *ngIf="sliders"
      [ngTemplateOutlet]="customCarouselNavTemplate || defaultCarouselNav"
      [ngTemplateOutletContext]="navigationContext"
    >
    </ng-container>
        <!--carousel item indicators container-->
    <ng-container
      #navigationCordinatorContainer
      *ngIf="itemIndicators"
      [ngTemplateOutlet]="customCarouselNavTemplate || defaultIndicatorsNav"
      [ngTemplateOutletContext]="navigationIndicatorsContext"
    >
    </ng-container>
  </div>

</div>
