<div class="carousel-container" #carouselContainer>
  <ng-container>
    <img class="carousel-item" [src]="images[index]" #carouselItem>
  </ng-container>
  <div class="carousel-controlers">
    <div (click)="prev()">
      prev
    </div>
    <div (click)="next()">
      next
    </div>
  </div>
  <div class="carousel-indicators">
    <span class="carousel-slide" (click)="index=i" [class.current-slide]="i===index"
      *ngFor="let slide of carouselSliders;let i=index"></span>
  </div>

</div>
