@import "../../variabels.less";

:host {
  display: block;

  .carousel-container {
    position: relative;
    display: flex;
    width: @default-carousel-width;
    height: @default-carousel-height;
    flex-wrap: nowrap;
    overflow: hidden;


    .carousel-item {
      width: @full-element-size;
      height: @full-element-size;
      flex: 1 0 100%;
    }

    .carousel-controllers {
      width: @full-element-size;
      position: absolute;
      top: 50%;
      display: flex;
      justify-content: space-between;
      color: purple;
    }

    .carousel-indicators {
      width: @full-element-size;
      height: 10%;
      #center-element;
      position: absolute;
      bottom: 2%;

      .carousel-slide {
        background-color: @slide-color;
        height: @slide-height;
        width: @slide-width;
        border-radius: 50%;
        margin: 1px;
      }

      .carousel-slide:hover {
        cursor: pointer;
      }

      .current-slide {
        background-color: @slide-color-active;
      }
    }
  }
}
