<ng-template #primaryArrowsNavigation let-carousel>
  <div class="primary-arrow-wrapper left">
    <span class="material-icons slide" (click)="carousel.prev()">
      chevron_left
    </span>
  </div>
  <div class="primary-arrow-wrapper right">
    <span class="material-icons slide" (click)="carousel.next()">
      chevron_right
    </span>
  </div>
</ng-template>
<ng-template #wordsNavigation let-carousel>
  <div class="carousel-controllers">
    <div (click)="carousel.prev()">
      prev
    </div>
    <div (click)="carousel.next()">
      next
    </div>
  </div>
</ng-template>
<ng-template #carouselItem let-image>
  <img class="carousel-item" [src]="image">
</ng-template>

